[tool.poetry]
name = "pydvdcss"
version = "1.2.0"
description = "Python wrapper for VideoLAN's libdvdcss."
license = "GPLv3"
authors = ["PHOENiX <rlaphoenix@pm.me>"]
maintainers = ["PHOENiX <rlaphoenix@pm.me>"]
readme = "README.md"
homepage = "https://github.com/rlaphoenix/pydvdcss"
repository = "https://github.com/rlaphoenix/pydvdcss"
documentation = "https://github.com/rlaphoenix/pydvdcss"
keywords = ["dvd", "wrapper", "library", "videolan", "libdvdcss"]
classifiers = [
    # python ver and license set by poetry automatically
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Multimedia",
    "Topic :: Multimedia :: Video",
    "Topic :: Multimedia :: Video :: Conversion"
]
include = ["LICENSE", "README.md", "HISTORY.md"]

[tool.poetry.dependencies]
python = ">=3.5"

[tool.poetry.dev-dependencies]
Sphinx = "^3.5.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
